* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container-fluid span {
  color: yellow !important;
}

#message, #notice {
  font-size: 1rem;
  font-weight: 500;
  line-height: 30px;
  width: 100%;
}

#message {
  height: 40px;
}

#notice {
  height: 20px;
}