* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container-fluid span {
  color: yellow !important;
}

#message {
  font-size: 1rem;
  font-weight: 500;
  line-height: 40px;
  height: 40px;
  width: 100%;
}